<html>
    <head>
        <title>MTCD prediction</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div id="map"></div>
        <button id="bottom-left-button">Simulation</button>
        <div id="speed-control">
            <button id="speed-decrease">-</button>
            <span id="speed-display">1.0x</span>
            <button id="speed-increase">+</button>
        </div>
        <button id="heatmap-toggle" class="heatmap-off">Heatmap off</button>
        <script src="/static/build/main.js" type="module"></script>
    </body>
</html>